@import '../../../../assets/scss/main.scss';

$max-width: 230px;
$margin-bottom: 40px;

.about {
  color: black;

  .image {
    width: 180px;
    max-width: $max-width;
    height: 180px;
    background-size: cover;
    background-image: url(../../../../assets/images/avatar.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    overflow: hidden;
    transition: all .6s ease;
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    margin-bottom: $margin-bottom;
  }
  h3 {
    font-weight: bold;
  }

  .bio {
    margin-bottom: $margin-bottom;
    max-width: $max-width;
    line-height: 2.8rem;
    font-size: 1.8rem;
    a {
      text-decoration: none;
    }
  }

  @include media('<=small') {
    .bio {
      line-height: 2.0rem;
      font-size: 1.4rem;
    }
  }

  @include media('<=medium') {
    text-align: center;
    margin-bottom: 0px;

    .image {
      margin: 0 auto $margin-bottom auto;
    }

    .bio {
      margin: 0 auto;
    }
  }
}
