@import '../../../assets/scss/main.scss';

.experience-unit {
  .image {
    width: 100%;
    height: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $border-color;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.3);
    }
  }
  
  .title {
    padding: 8px 0px;
    font-size: 1.8rem;
  }

  .time-period {
    font-size: 1.2rem;
    line-height: 0.9rem;
    padding-bottom: 12px;
  }

  .subtitle {
    color: $grey-color;
    font-size: 1.4rem;
  }

  @include media('>=medium', '<large') {
    .image {
      height: 110px;
    }
  }

  @include media('<=medium', '>xsmall') {
    padding-bottom: 15px;
    
    .image {
      height: 140px;
    }
  }

  @include media('<=xsmall') {
    padding-bottom: 15px;

    .image {
      height: 160px;
    }
  }
}